
footer

{
	text-align:center;
	opacity:.8;
	padding:50px;
	background-image:-webkit-linear-gradient(left, #795548 0, #3e2723 100%);
	background-image:-o-linear-gradient(left, #795548 0, #3e2723 100%);
	background-image:linear-gradient(to right, #795548 0, #3e2723 100%);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ff720e9e', GradientType=1)
}

